body {
    background-color: #D4A59A;
    height: 100%;
    text-align: center;
}

h1 {
    font-family: 'Mali', cursive;
    font-style: italic;
    margin-bottom: 0px;
}

/* Jumbotron */
.jumbotron {
    background-color: #5C2018;
    color: white;
    padding: 30px 20px 40px 20px;
    margin-bottom: 20px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/food-hero-image.jpg");
    background-size: cover;
    /* background-position: center center; */
    min-height: 100vh;
}

.vertical-center {
    display: flex;
    align-items: center;
}

#search-input, #search-button {
    margin: 10px 0px 10px 0px;
}

/* Style for random cards */
.card {
    background-color: #F3E0DC;
    display:inline-block;
    margin: 0px 10px 10px 10px;
}
.cropped {
    width: 400px;
    height: 230px;
    object-fit: cover;
    overflow: hidden;
}
.cropped img {
    margin: 10px 0px 0px 0px;
    width: 90%;
}

/* Search bar */
.form-control {
    background-color: #F3E0DC;
    border: 1px solid #ffffff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: 0;
    width: 300px;
}

/* search button */
#search-button {
    background-color: #5C2018;
    color: white;
    border-color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#search-button:hover {
    color: black;
    border-color: black;
}

#search-button:active {
    background-color: #5C2018;
}

@media (min-width: 576px) {
    .mr-sm-2, .mx-sm-2 {
        margin-right: 0px!important;
    }
}

@media (max-width: 420px) {
    .card {
        width: 90%!important;
    }
    .cropped {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    .cropped img {
        margin: 10px 0px 0px 0px;
        width: 90%;
    }
}

/* Custom styling of radio button */
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #5C2018;
    background-color: #5C2018;
}

/* Custom styling of randomizer buttons */
.btn-primary {
    background-color: #5C2018;
    border-color: #5C2018;
}

.btn-primary:hover {
    background-color: #D4A59A;
    border-color: #D4A59A;
}