body {
    background-color: #D4A59A;
    height: 100%;
}

/* navbar */
.navbar {
    background-color: #5C2018!important;
}

.navbar-light .navbar-brand {
    color: white;
    font-family: 'Mali', cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}

/* back link on navbar */
a {
    font-family: 'Mali', cursive;
    color: white;
}
a:hover {
    color: #D4A59A;
}

/* Headings */
h2 {
    font-family: 'Mali', cursive;
    font-weight: bold;
}
h3, h4 {
    font-family: 'Mali', cursive;
}

/* Recipe Ingredients and Instructions, Wine Pairing, and Cost Breakdown sections */
#recipe-display, #wine-display, #cost-display {
    background-color: #F3E0DC;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    word-wrap: break-word;
}

img {
    width: 100%;
}

.table td, .table th {
    border-top: 1px solid grey;
    font-size: 12px;
    padding: 0px;
}

.table thead th {
    border-bottom: 2px solid grey;
}