body {
    background-color: #D4A59A;
    height: 100%;
}

.container {
    /* display: grid;
    justify-content: center;
    align-content: center;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0; */
    margin-top: 20px;
}

.navbar {
    background-color: #5C2018!important;
    color: white;
}

.restaurantImg {
    width: 400px;
    height: 400px;
}

i {
    color: #5c2018;
    padding: 2px;
}

#open-text {
    color: green;
}

#close-text {
    color: red;
}

#hours {
    margin-top: -15px;
}