.container {
    display: block;
}

#dinner-navbar{
    color: white;
}

img{
    width: 187.5px;
    height: 187.5px;
}

body {
    /* background-color: #D4A59A; */
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url("../images/food-hero-image.jpg");
    background-size: cover;
}

.navbar {
    background-color: #5C2018!important;
    color: white;
}

h1 {
    color: white;
    font-family: 'Mali', cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}

h1:hover {
    color: black;
}

#primary-row{
    /* background-color: #D4A59A; */
    align-content: center;
}


.results-card{
    background-color: #F3E0DC;
    color: black;
    width: 18rem;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.card-body {
    flex: none;
}

h6 {
    margin-top: 10px;
    margin-bottom: -10px;
}

/* Add shadow effect to cards on hover */
.results-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
