.container {
    display: block;
}

#dinner-navbar{
    color: white;
}

img{
    width: 187.5px;
    height: 187.5px;
}

body {
    background-color: #D4A59A;
    height: 100%;
}

.navbar {
    background-color: #5C2018!important;
    color: white;
}

h1 {
    color: white;
    font-family: 'Mali', cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}

h1:hover {
    color: black;
}

#primary-row{
    background-color: #D4A59A;
    align-content: center;
}


.results-card{
    background-color: #5C2018;
    color: white;
    width: 18rem;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

h6 {
    margin-top: 10px;
    margin-bottom: -10px;
}